<% if !@page %>
 
<div class="container">
  <div class="page-header">
    <h1>Pages:
    <small>Description to Add</small></h1>
  </div>
</div>

<% elsif @page.slides.blank? %>

<div class="page-header">
  <div class="page-header-inner">
    <%= image_tag(@page.header_image) %>
    <div class="container">
      <div class="page-header-text">
      <h1><%= @page.title %> 
      <small>Description to Add</small></h1>
      </div>
    </div>
  </div>
</div>

<% else %>
<div id="page_slide" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% if @page.slides.size > 1 %>
    <% @page.slides.each_with_index do |slide, index| %>
      <li data-target="#page_slide" class="<% if index == 0 %>active<% end %>"></li>
    <% end %>
    <% end %>
  </ol>
  <div class="carousel-inner">
    <% @page.slides.each_with_index do |slide, index| %>
    <div class="item <% if index == 0 %>active<% end %>">
      <%= image_tag slide.carousel_bg_img , alt: "First Slide" %>
      <div class="container">
        <div class="carousel-caption">
          <h1><%= slide.carousel_title %></h1>
          <p><%= sanitize(slide.carousel_content, tags: %w(p b i br)) %></p>
          <p><a class="btn btn-large btn-primary" href="#">Sign up today</a></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <a class="left carousel-control" href="#page_slide" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#page_slide" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<% end %>

