<div class="page-header">
  <h1>Pages <small>Subtext for header</small></h1>
  <%= link_to 'Create Page', new_page_path %>
</div>


<section>
  <% @pages.each do |page| %>
    <div class="media">
      <a class="pull-left" href="#">
        <%= image_tag page.header_image.small_thumb %>
      </a>
      <div class="media-body">
        <h4><%= page.title %></h4>
        <%= truncate(page.body, length: 400, escape: false) %>
      </div>
    </div>
    <ol class="breadcrumb pull-right">
      <li><%= link_to 'Show', page %></li>
      <li><%= link_to 'Edit', edit_page_path(page) %></li>
      <li><%= link_to 'Delete', page, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ol>
    <hr>
  <% end %>
</section>

