<% content_for :meta_title do %><%= @page.meta_title %><% end %>
<% content_for :meta_desc do %><%= @page.meta_description %><% end %>
<% content_for :title do %><%= @page.title %><% end %>

<p id="notice"><%= notice %></p>
<%= @page.body.html_safe %>
</p>
<hr>
